<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="CampusRecruitmentsystem.Properties.Settings.companyConnectionString"
           connectionString="Data Source=LAPTOP-VD1P25GN\SQLEXPRESS;Initial Catalog=company;Persist Security Info=True;User ID=sa;Password=Gsn292003#"
           providerName="System.Data.SqlClient" />
      <add name="CampusRecruitmentsystem.Properties.Settings.companylistConnectionString"
         connectionString="Data Source=LAPTOP-VD1P25GN\SQLEXPRESS;Initial Catalog=companylist;Persist Security Info=True;User ID=sa;Password=Gsn292003#"
         providerName="System.Data.SqlClient" />
        <add name="CampusRecruitmentsystem.Properties.Settings.loginstudentConnectionString"
            connectionString="Data Source=LAPTOP-VD1P25GN\SQLEXPRESS;Initial Catalog=loginstudent;Persist Security Info=True;User ID=sa;Password=Gsn292003#"
            providerName="System.Data.SqlClient" />
      <add name="CampusRecruitmentsystem.Properties.Settings.login_companyConnectionString"
            connectionString="Data Source=LAPTOP-VD1P25GN\SQLEXPRESS;Initial Catalog=login_company;Persist Security Info=True;User ID=sa;Password=Gsn292003#"
            providerName="System.Data.SqlClient" />
      <add name="CampusRecruitmentsystem.Properties.Settings.loginadminConnectionString"
          connectionString="Data Source=LAPTOP-VD1P25GN\SQLEXPRESS;Initial Catalog=loginadmin;Persist Security Info=True;User ID=sa;Password=Gsn292003#"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>